VITE_SUPABASE_URL=https://rnuygjkdpbcqawvhlhcf.supabase.co
    VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJudXlnamtkcGJjcWF3dmhsaGNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2MDAxMTYsImV4cCI6MjA5MjE3NjExNn0.P9UmvEmZVJnALB-m9tA95Gan7eczNT8246NTLXR-r0w